<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
{% extends "base.html" %}

{% block content %}

<div class="alert alert-info">
Status de hoje: <strong>{{ status }}</strong>
</div>

<div class="row">

<div class="col-md-6">
<div class="card p-4 shadow">



<div class="container mt-4">

    <h3 class="text-center mb-4">Registro de Ponto</h3>

    <div class="d-grid gap-2">

        <form method="POST">
            {% csrf_token %}
            <button name="tipo" value="entrada" class="btn btn-success btn-lg w-100 mb-2">
                Entrada
            </button>
        </form>

        <form method="POST">
            {% csrf_token %}
            <button name="tipo" value="almoco" class="btn btn-warning btn-lg w-100 mb-2">
                Intervalo
            </button>
        </form>

        <form method="POST">
            {% csrf_token %}
            <button name="tipo" value="volta" class="btn btn-primary btn-lg w-100 mb-2">
                Volta do Intervalo
            </button>
        </form>

        <form method="POST">
            {% csrf_token %}
            <button name="tipo" value="saida" class="btn btn-danger btn-lg w-100">
                Saída
            </button>
        </form>

    </div>

</div>

</form>
<style>
    body {
        background-color: #f5f6fa;
    }

    h3 {
        font-weight: bold;
    }

    .btn {
        border-radius: 12px;
    }
</style>
</div>
</div>

<div class="col-md-6">
<div class="card p-4 shadow">

<h4 class="mb-3">Últimos registros</h4>

<table class="table table-striped">
<tr>
<th>Data</th>
<th>Hora</th>
<th>Tipo</th>
</tr>

{% for r in registros %}
<tr>
<td>{{ r.data_hora|date:"d/m/Y" }}</td>
<td>{{ r.data_hora|time:"H:i" }}</td>
<td>{{ r.tipo }}</td>
</tr>
{% endfor %}

</table>

</div>
</div>

</div>

<script>
navigator.geolocation.getCurrentPosition(function(position) {
document.getElementById("latitude").value = position.coords.latitude;
document.getElementById("longitude").value = position.coords.longitude;
});
</script>

{% endblock %}